<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sellerDAO">
	<select id="getSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
		AND SELLER_PASSWORD = #{sellerPassword}
	</select>
	<select id="findPwSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
		AND COMPANY_NAME = #{companyName}
		AND REGISTRATION_NUM = #{registrationNum}
	</select>
	
	<select id="findIdSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE COMPANY_NAME = #{companyName}
		AND REGISTRATION_NUM = #{registrationNum}
	</select>
	
	<select id="sellerIdCheck" parameterType="seller"
	 resultType="int">
	 	SELECT COUNT(*) 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
	</select>
	<insert id="insertSeller" parameterType="seller">
		INSERT INTO SELLER (SELLER_ID, COMPANY_NAME, REPRESENTATIVE, CUSTOMER_CENTER, CUSTOMER_EMAIL, 
							REGISTRATION_NUM, SELLER_PASSWORD, SELLER_TYPE)
		VALUES (#{sellerId}, #{companyName}, #{representative}, #{customerCenter}, #{customerEmail},
				#{registrationNum}, #{sellerPassword}, #{sellerType})
	</insert>
	<update id="updatePwSeller" parameterType="seller">
		UPDATE SELLER
		SET SELLER_PASSWORD = #{sellerPassword}
		WHERE SELLER_ID = #{sellerId}
	</update>
	
</mapper>