<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sellerDAO">
	<select id="getSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
	</select>
	
	<select id="findPwSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
		AND COMPANY_NAME = #{companyName}
		AND CUSTOMER_EMAIL = #{customerEmail}
		AND REGISTRATION_NUM = #{registrationNum}
	</select>
	
	<select id="findIdSeller" parameterType="seller"
	 resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE COMPANY_NAME = #{companyName}
		AND CUSTOMER_EMAIL = #{customerEmail}
		AND REGISTRATION_NUM = #{registrationNum}
	</select>
	
	<select id="sellerIdCheck" parameterType="seller"
	 resultType="int">
	 	SELECT COUNT(*) 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
	</select>
	
	<insert id="insertSeller" parameterType="seller">
		INSERT INTO SELLER (SELLER_ID, COMPANY_NAME, REPRESENTATIVE, CUSTOMER_CENTER, CUSTOMER_EMAIL, 
							REGISTRATION_NUM, SELLER_PASSWORD, SELLER_TYPE, SELLER_CHANGE_DATE, SELLER_STAUS)
		VALUES (#{sellerId}, #{companyName}, #{representative}, #{customerCenter}, #{customerEmail},
				#{registrationNum}, #{sellerPassword}, #{sellerType}, SYSDATE, #{sellerStatus})
	</insert>
	
	<update id="updatePwSeller" parameterType="seller">
		UPDATE SELLER
		SET SELLER_PASSWORD = #{sellerPassword}
		WHERE SELLER_ID = #{sellerId}
	</update>
	
	<update id="updateSeller" parameterType="seller">
		UPDATE SELLER
		SET SELLER_PASSWORD = #{sellerPassword}, 
			CUSTOMER_EMAIL = #{customerEmail},
			CUSTOMER_CENTER = #{customerCenter}
		WHERE SELLER_ID = #{sellerId}
	</update>
	
	<update id="updateSellerStatus" parameterType="seller">
		UPDATE SELLER
		SET SELLER_STATUS = #{sellerStatus},
			SELLER_CHANGE_DATE = SYSDATE
		WHERE SELLER_ID = #{sellerId}
		AND SELLER_PASSWORD = #{sellerPassword}
	</update>
	
	<select id="getSellerList" parameterType="Map" resultType="seller">
		SELECT *
		FROM (SELECT ROWNUM RNUM, SELL.*
		        FROM (SELECT  *
		                FROM SELLER
		                ORDER BY SELLER_REGDATE DESC) SELL)
		WHERE RNUM BETWEEN #{begin} AND #{end}
	</select>
	
	<select id="getSellerCount" resultType="int">
		SELECT COUNT(*)
		FROM SELLER
	</select>
	
	<!-- 판매자 정보 가져오기 (cho)-->
	<select id="selectOneSel" parameterType="registerProd" resultType="seller">
		SELECT * 
		FROM SELLER
		WHERE SELLER_ID = #{sellerId}
	</select>
</mapper>