.css-nu1lw1 {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: flex;
    margin-bottom: 80px;
}

.css-1b38o8c {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin: 0px auto;
}

.css-1azakc {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-align: center;
}

.css-i804ml {
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: 50px;
    font-weight: 500;
    font-size: 28px;
    color: rgb(51, 51, 51);
    line-height: 35px;
    letter-spacing: -1px;
    text-align: center;
}

.css-pzlq5x  {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: flex;
    width: 1050px;
    margin-top: 50px;
    margin-bottom: 75px;
}

.css-1jgnig9 {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}

. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}
. {

}


. {

}