@charset "UTF-8";
	#footer {
	    display: flex;
	    justify-content: center;
	}
	.footerInBox{
		margin: 0px 50px;
		min-width: 500px;
	}
	
	/* 기타 seller css 하단에 추가 */
	.sellerSignIn {
		text-align: left;
		border: 2px solid rgb(231, 129, 17, 0.5);
		border-radius: 10px;
		padding: 20px 40px;
		margin: 0px 50px 10px;
	}
	#sellerSignInfirstBox {
		margin-top: 10px;
	}
	
	.SignIninputBox {
		max-width: 530px; 
		color: #c0c0c023112917;
	}
	.SLinput {
		justify-content: center;
	}
	.signIn-text {
		height:45px;
		width: 170px;
	}
	.login-text {
		height:45px;
		width: 130px;
	}
	#sellerLoginBtn {
		background-color: rgb(231, 129, 17); 
		color: white; 
		width: 150px;
	}

	#loginBox, #sellerSignContainer, #sellerFindContainer {
		padding: 61px 0px 20px;
		text-align:center;
	}
	#sellerSignIn, #sellerFind {
		background-color: rgb(231, 129, 17);
		color: white;
		width: 200px;
		display: inline;
		margin: 0px 20px 20px 20px;
	}
	#sellerSignInBox {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;

	}
	.SIinput {
		padding-left: 130px;
	}
	#sellerIdConfirmBtn, #sellerPwConfirmBtn, #sellerRegistConfirmBtn {
		background-color: rgb(231, 129, 17); 
		color: white; 
		height: 45px;
		width: 101px;
	}
	.typeLabel {
		font-size: 15px;
		margin: 0px 10px 0px 20px;
		padding-top: 13px;
	}
	#corporation, #individual{
		max-width:18px;		 
	}
	.Xmessage {color: #d20000;}
	.Omessage {color: #0000d0;}
	
	#messageBox{
		text-align: left;
	}
	
	.mb-3 {
		margin-top: 1rem !important;
	}
	#sellerIdIn, #sellerPwIn {
		max-width:500px;
	}
	#sellerSigninBtn, #sellerCancle {
		background-color: rgb(231, 129, 17); 
		color: white; 
		width: 150px;
		margin: 20px 10px; 
	}
	#sellerCancleBox {
		display: flex;
		justify-content: flex-end;
		margin-right: 50px;
	}
	#findInputComName, #findInputEmail, #findInputRegistNum, #findInputId {
		padding: 0px;
		
	}
	.findInput {
		justify-content: center;
	}
	#pageContainer, #pageNumContainer, #center{
		display: flex;
		justify-content: center;
	}
	#categoryBox {
		display: flex;
		justify-content: center;
	}
	.countText {
		text-align: right;
		font-size: 0.9em;
		
	}
	#imgInput {
		display: flex;
		align-items: center;
	}
	#title-path {
		text-align: left;
	}
	#priceBox, #stockBox {
		background-color: #f7f7f9;
	    background-clip: padding-box;
	    border: 0px solid #ced4da;
	    color: #55595c;
		width: 240px;
		padding: 12px 24px;
	}
	.inputTitle {
		width: 120px;
	}
	.ladioBox {
		padding: 12px 24px;
	}