/* 마이페이지 */
.css-2b29tl{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    min-width: 1050px;
}
.css-1jgbowa{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    padding: 50px 0px;
    margin-bottom: -20px;
    background-color: rgb(247, 247, 247);
}
.css-1oynwoh{
	 line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 372px auto;
    width: 1050px;
    margin: 0px auto;
    gap: 4px;
}
.css-1nmq3i1{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 30px;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
}
.css-zjik7{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
}
.css-38n0u7{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: 50%;
    min-height: 48px;
    margin-left: 20px;
}
.css-1ssqp0h{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: block;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
    color: rgb(51, 51, 51);
    line-height: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.css-1jemrvf{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    column-gap: 4px;
}
/* 여기서 크기 맞춰야할 듯 이름이랑  */
.css-1lomzjv{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    flex: 1 1 0%;
    overflow: hidden;
    background: rgb(255, 255, 255);	
}
.css-1bm0yf4{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    overflow: visible;
    background-color: transparent;
    border: none;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    border-radius: 0;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 26px 0px 30px 30px;
}
.css-157zkrj{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(51, 51, 51);
}
.css-14phxgn{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(51, 51, 51);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 23px;
    height: 23px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAQAAAACj/OVAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfmAxYGNhJAM7wjAAAAd0lEQVRYw+3UsQ2AMAwAQQfRsESWiCmp2I+aJagYgZYBaGGItGYEIhQZIf3VVl5OYREAAP4oxRTrvdYUzGzh6EfHYFiss7Ve8pEFnZNpJkmSJEnT/ObGltzSrzl/KTly5PxzIjo5X8501sy1BTODyX657QcAgL8b8j9nkEwifVYAAAAldEVYdGRhdGU6Y3JlYXRlADIwMjItMDMtMjJUMDY6NTQ6MTYrMDA6MDClJXo+AAAAJXRFWHRkYXRlOm1vZGlmeQAyMDIyLTAzLTIyVDA2OjU0OjE2KzAwOjAw1HjCggAAAABJRU5ErkJggg==") 50% 50% / cover no-repeat;
}
.css-1omzzwx{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: rgb(231, 129, 17);
    margin-top: 20px;
}
.css-mmvz9h{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    font-size: 20px;
    color: rgb(231, 129, 17);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 400;
}
.css-luwwab{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    display: flex;
    width: 1050px;
    padding: 50px 0px 80px;
    margin: 0px auto;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-833hqy{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 200px;
}
.css-1v4whg{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    margin: 0;
    height: 75px;
    padding: 5px 0px 35px 1px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: rgb(51, 51, 51);
    letter-spacing: -1px;
}
.css-1x9bshx{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
    border: 1px solid rgb(242, 242, 242);
}
.css-g4g0eu{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 1px solid rgb(242, 242, 242);
    padding: 15px 13px 15px 20px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    line-height: 19px;
    letter-spacing: -0.3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}
/* 개인정보수정(비밀번호확인) */
.css-171zbec{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 820px;
}
.css-j0lifa{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 27px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.css-fhxb3m{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.css-1268zpe{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.5px;
    line-height: 48px;
}
.css-1492bdb{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    width: 820px;
    margin: 0px auto;
}
.css-z4258j{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
}
.css-1fup356{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.5;
    color: rgb(102, 102, 102);
}
.css-14gj3aw{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 7px 60px 7px 120px;
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 1px solid rgb(221, 221, 221);
}
.css-1pjgd36{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    width: 100%;
    padding: 10px 20px;
}
.css-1y8737n{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 139px;
    padding-top: 12px;
}
.css-1obgjqh{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.css-82a6rk{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    flex: 1 1 0%;
}
.css-1waqr6j{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
.css-176lya2{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    height: 48px;
}
.css-u52dqk{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    width: 100%;
    height: 46px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    font-size: 14px;
}
.css-1w0ksfz{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 120px;
    margin-left: 8px;
}
.css-144iql5{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 40px;
}
.css-18m884r{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 240px;
    height: 56px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 129, 17);
    border: 0px none;
}
.css-nytqmg{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    text-align: center;
    color: white;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
.css-btnspan{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    text-align: center;
    color: rgb(231, 129, 17);
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
}
/* 개인정보수정 CSS */
.css-ya8of1{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    width: 820px;
    margin: 0px auto;
    padding: 7px 60px 7px 120px;
    border-top: 2px solid rgb(51, 51, 51);
}
.css-shoa2s{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 10px 0px;	
}
.css-1ozil7i{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-size: 13px;
    color: rgb(240, 63, 64);
    margin-top: -4px;
}
/* 탈퇴하기 버튼 */
.css-ufulao{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    color: rgb(231, 129, 17);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 129, 17);;
    width: 120px;
    height: 44px;
    margin: 0px 3px;
    border-radius: 3px;
}
.css-14wodj6{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: row;
}
.css-z9g6s0{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 0px 9px;
}
.css-1pes2r6{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0px, 0px, 0px, 0px);
    box-sizing: border-box;
    padding: 0;
}
.css-198i9ca{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    font-size: 14px;
}
.css-1dahn5m{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.css-mgd87h{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    margin-left: 12px;
    font-size: 14px;
}
.css-1vic0rk{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: white;
}
.css-18n8lnw{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    height: 44px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    padding: 0px 15px;
}
.css-1dkwuq4{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 0px;
}
.css-xsmgyi{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    height: 40px;
}
.css-151eme7{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    width: 100%;
    height: 40px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    font-weight: 400;
    line-height: 38px;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    border: none;
}
.css-5lnvt6{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}
.css-10a7gq2{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    height: 1px;
    background-color: rgb(153, 153, 153);
}
.css-14332pf{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid rgb(244, 244, 244);
}
.css-1qirdbn{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 129, 17);
    border: 0px none;
    width: 120px;
    height: 44px;
    margin: 0px 3px;
    border-radius: 3px;
}
input[type="radio"][name="gender"]:checked + .css-mgd87h {
    background-color: rgb(231, 129, 17); /* 원하는 색상으로 변경하세요 */
}
input[type="radio"][name="userGender"]:checked + span {
    background-color: rgb(231, 129, 17); /* 원하는 색상으로 변경하세요 */
}
.selected span {
	background-color: rgb(231, 129, 17);
}
/* 성별 선택 시 색깔 바뀌는 부분 */
/* 라인 생성해야 함  */
.css-5xw1m2{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
   /*  user-select: none; */
    -webkit-tap-highlight-color: transparent;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    min-width: 24px;
    min-height: 24px;
    display: inline-block;
    position: relative;
    border-radius: 50%;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(231, 129, 17);
    font-size: 14px;	
}

/* 탈퇴하기 페이지 css */
.css-191mpdx{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    width: 640px;
    margin: 0px auto;
}
.css-1n0iowd{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 50px 0px 51px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -1px;
    text-align: center;
}
.css-lmufyc{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: rgb(102, 102, 102);
    line-height: 22px;
}
.css-w9v2bl{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    box-sizing: border-box;
    margin: 0;
    display: inline-flex;
    width: 100%;
    padding: 10px 0px 10px 20px;
}
.css-1y8737n{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: 139px;
    padding-top: 12px;
}
.css-1obgjqh{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
    color: rgb(51, 51, 51);
    line-height: 20px;
}
.css-82a6rk{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    flex: 1 1 0%;
}
.css-542elh{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-top: 10px;
}
.css-11v4spm{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    line-height: 22px;
    box-sizing: border-box;
    margin: 0;
    display: block;
    padding: 19px 0px 12px;
    font-weight: normal;
    color: rgb(231, 129, 17);
}
.css-0e114s4r91{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    list-style-type: none;
}
.css-0e114s4r90{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 22px;
    list-style-type: none;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
.css-rfi9gs{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    width: 332px;
    padding: 0px;
}
.css-1fb6x3{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 40px 0px 60px;
}
.css-h1qqcg{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    height: 44px;
    color: rgb(231, 129, 17);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 129, 17);
    width: 120px;
    margin: 0px 4px;
    border-radius: 3px;
}
.css-1vv342v{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    box-sizing: border-box;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    height: 44px;
    color: rgb(255, 255, 255);
    background-color: rgb(231, 129, 17);
    border: 0px none;
    width: 120px;
    margin: 0px 4px;
    border-radius: 3px;
}
/* 찜한 상품 CSS */
.css-xa5js9{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-bottom: 27px;
    border-bottom: 2px solid rgb(51, 51, 51);
}
.css-y83uep{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: rgb(51, 51, 51);
}
.css-a3vgo2{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    padding-left: 11px;
    font-size: 14px;
    letter-spacing: -0.3px;
    color: rgb(153, 153, 153);
    line-height: 20px;
}
.css-a3z6ut{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    margin: 0;
    padding: 0px 20px;
    position: relative;
}
.ReactVirtualized__Grid{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    direction: ltr;
    height: auto;
    position: relative;
    width: 780px;
    will-change: transform;
    overflow: hidden;
}
.ReactVirtualized__Grid__innerScrollContainer{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: auto;
    height: auto;
    max-width: 780px;
    overflow: hidden;
    position: relative;
}
/* 찜한 상품 1개 div css */
.css-1pj4itr{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    direction: ltr;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    padding: 24px 0px;
    border-top: 1px solid rgb(244, 244, 244);
    height: 128px;
    left: 0px;
/*     position: absolute; */
    top: 0px;
    width: 100%;
}
.css-zw1kn5{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
    width: 60px;
    height: 78px;
    background-color: rgb(245, 245, 245);
}
.css-6out1y{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    direction: ltr;
    color: inherit;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    width: 60px;
    height: 78px;
}
.css-0 {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    direction: ltr;
    color: inherit;
    vertical-align: top;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: cover;
}
.css-14z46lg{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    width: calc(100% - 90px);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding-left: 16px;
}
.css-a3z6ut{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    direction: ltr;
    box-sizing: border-box;
    margin: 0;
    padding: 0px 20px;
}
.css-v2aaoi{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 16px;
    line-height: normal;
}
.css-4ejps8{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    direction: ltr;
    word-break: break-all;
    white-space: normal;
    font-size: 16px;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    background-color: transparent;
    text-decoration: none;
    color: inherit;
    display: block;
}
.css-1d6cvj1{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: #333;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    margin-top: 6px;
    font-size: 16px;
}
.css-153tu4t{
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    direction: ltr;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    color: rgb(51, 51, 51);
    font-weight: bold;
    margin-right: 4px;
    line-height: 19px;
}
.css-jx12wb{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    --swiper-theme-color: #007aff;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 14px;
    color: #333;
    direction: ltr;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.css-17giheb{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    direction: ltr;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    text-align: center;
    overflow: hidden;
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    padding: 0px;
    margin-bottom: 8px;
}
.css-x0zbdy{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    direction: ltr;
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
    font-size: 14px;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    display: block;
    text-align: center;
    overflow: hidden;
    width: 104px;
    height: 36px;
    border-radius: 4px;
    color: rgb(231, 129, 17);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(231, 129, 17);
    padding: 0px;
}
.css-1m3kac1{
    -webkit-text-size-adjust: 100%;
    --swiper-theme-color: #007aff;
    user-select: none;
    direction: ltr;
    font: inherit;
    -webkit-tap-highlight-color: transparent;
    text-transform: none;
    cursor: pointer;
    font-family: "Noto Sans", "malgun gothic", AppleGothic, dotum, sans-serif;
    text-align: center;
    color: rgb(231, 129, 17);
    font-weight: 500;
    font-size: 13px;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    max-width: 100%;
    border: 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    vertical-align: middle;
}